@charset "UTF-8";
@media (max-width: 750px){
    header a{
        display: none;
    }
}

*{
    color: white;
    margin: .2px;
    padding: .2px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
   --color001: #1b9e49;
   --color002: #1ed760;
}
.bg{
    background-color: #272727;
    background-image: url("/pictures/pexels-kevin-ku-577585.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--color001);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    height: 15px;
    background:rgb(2, 2, 2);
    border-radius: 15px;
}

header{
    text-align: center;
    margin: 15px auto 15px 100px;
}

header a{
    margin: 0 5px;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    transition: .5s;
}

header a:hover{
    background-color: var(--color001);
}

#menu{
    float: right;
    padding: 2px 5px;
    border-radius: 5px;
    transition: .5s;
    margin: 0px 5px;
    transition: .5s;
}

#menu:hover{
    background: var(--color001);
    cursor: pointer;
}

.principal{
    text-align:center;
    margin: 240px auto 2px auto;
    transition: .5s;
}

.principal h1{
    line-height: 40px;
    font-size: 2.3em;
}

input[type=button]{
    padding: 3px 10px;
    margin: 10px auto;
    background-color: var(--color001);
    border: none;
    border-radius: 5px;
    
    transition:.5s;
}

input[type=button]:hover{
    color: black;
    cursor: pointer;
}

main{
    background-color: #272727;
    border-radius: 10px;
    margin-top: 270px;
}

h1.title{
    margin: 15px auto;
    text-align: center;
    color:var(--color001);
}

.title::after{
    content: '';
    display: block;
    background: var(--color001);
    width: 120px;
    height: 2px;
    margin: 5px auto;
}

.destaque{
    margin: 15px auto;
    max-width: 850px;
    text-align: center;
}

#html-icon{
    font-size: 5em;
    text-align: center;
}

#html-icon i:hover{
    color: var(--color001);
    /*ideia fazer texto e cor apareceer*/
}

#css-icon{
    font-size: 5em;
    margin-left: 350px;
}