@charset "UTF-8";

* {
    color: white;
    margin: .2px;
    padding: .2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color001: #4D5ACB;
    --color002: #7184FF;
    --color003: #ffffff13;
    --color: #ab75ff;
    --coloor: #6979ff;
    /*Gradiente icons

    rgba(171, 117, 255, 1)
    e
    rgba(105, 121, 255, 1)

    */
}

html {
    scroll-behavior: smooth;
}

.bg {
    background-image: linear-gradient(45deg, #1f2774, #1a1919);
    background-size: 300% 300%;
    animation: backgroundAnimation 15s ease infinite;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color001);
}

::-webkit-scrollbar-track {
    background: var(--color001);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    height: 15px;
    background: #31374b;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #31374bc4;
}

header {
    text-align: center;
    padding: 15px 0 15px 1rem;
    margin: .5rem auto;
    width: 95%;
    background-color: var(--color003);
    border-radius: 1rem;
    text-align: left;
}

header div {
    display: inline-block;
    margin: 0 .3rem;
    text-decoration: none;
    padding: 2.5px 8px;
    border-radius: 6.5px;
    color: #fff;
}

header div:hover {
    color: var(--color001);
    text-shadow: 0 0 1rem #ffffff;
    cursor: pointer;
    transition: .3s;
}

#iconsDesktopMenu {
    float: right;
    margin: auto 1rem auto auto;
}

#iconsDesktopMenu i {
    margin: auto -1rem;
    font-size: 1.1rem;
}

#menuLateral {
    position: fixed;
    background: #020202c5;
    top: 0;
    right: 0;
    width: 0rem;
    height: 100%;
    overflow: hidden;
    padding: 3.5rem 0 1rem 0;
    transition: .3s;
    display: none;
}

#menuLateral div {
    display: block;
    padding: 1rem;
    color: #fff;
    text-shadow: none;
    margin: 1rem auto -.8rem auto;
}

#menuLateral div:hover {
    background-color: var(--color001);
    cursor: pointer;
    transition: .2s;
    border-radius: .5rem;
}

#menu {
    position: fixed;
    right: 1rem;
    top: 1.5rem;
    padding: 4px 8px;
    transition: .3s;
    color: #fff;
    display: none;
    background-color: #272727;
    border: solid var(--color002) 2px;
    border-radius: .6rem;
}

#menu:hover {
    background: var(--color001);
    cursor: pointer;
}

#fecharMenu {
    position: absolute;
    width: 2.5rem;
    padding: .5rem 0;
    border: solid var(--color002) 2px;
    border-radius: .6rem;
    margin: -2rem .6rem;
    background: #972b2b;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
    display: none;
}

#BottomNavigation {
    background-color: #000000d3;
    width: 48vw;
    padding: .5rem ;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    position: fixed;
    margin: auto;
    border-radius: 1rem;
    text-align: center;
    display: none;
}

#BottomNavigation div img {
    width: 1.8rem;
    margin: .4rem 2rem;
    text-align: center;
    cursor: pointer;
}

#BottomNavigation div {
    display: inline-block;
}

#BottomNavigation p {
    font-size: .9rem;
    margin: -.65rem auto auto auto;
}

#projetosIcon img {
    width: 1.9rem
}

.principal {
    text-align: center;
    margin: 27.5vh auto 2px auto;
    transition: .5s;
}

#textoPrincipal {
    text-align: left;
    margin: auto 8rem;
}

.principalDescricao {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.principal h1 {
    line-height: 40px;
    font-size: 2.5em;
    margin-top: -.5rem;
    margin-bottom: .5rem;
}

.principal a {
    display: block;
    width: 5rem;
    margin: .5rem 0;
    padding: .3rem .5rem;
    text-align: center;
    background-color: var(--color001);
    border: none;
    border-radius: 6.5px;
    transition: .5s;
    font-size: 14.5px;
    text-decoration: none;
}

.principal a:hover {
    background-color: var(--color002);
    box-shadow: 0 0 2.5rem .1rem var(--color001);
    cursor: pointer;
}

.principal img {
    width: 15rem;
    height: 15rem;
    margin: -14rem 10rem;
    float: right;
}


main {
    background-color: #272727;
    border-radius: 12px 12px 0 0;
    margin-top: 270px;
    padding: .5px
}

h1.title {
    margin: 30px auto 35px auto;
    text-align: center;
    font-size: 2rem;
    color: var(--color002);
}

.title::after {
    content: '';
    display: block;
    background: var(--color002);
    width: 120px;
    height: 2px;
    margin: 5px auto;
}

.destaque {
    margin: 20px auto;
    max-width: 850px;
    text-align: center;
}

#sobre {
    text-align: center;
}

#sobre img {
    width: 10rem;
    margin: 1.5rem auto;
    border-radius: 50%;
}

#sobreBox {
    width: 800px;
    margin: auto;
    background-color: #272727;
    box-shadow: 0 0 2rem -1rem var(--color001);
    border-radius: 1rem;
    padding: 1rem;
}

#conhecimento-icons {
    max-width: 32rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

#conhecimento-html {
    font-size: 16px;
}

#conhecimento-css {
    font-size: 16px;
    margin-left: -1rem;
}

#conhecimento-js {
    font-size: 16px;
}

#link-html {
    color: #E44D26;
    text-decoration: none;
}

#link-css {
    color: #1A73BA;
    text-decoration: none;
}

#link-js {
    color: #F1C40F;
    text-decoration: none;
}

#html_icon {
    font-size: 5rem;
    text-align: center;
}

#html_icon i {
    background-image: linear-gradient(#e2f2ff, #E44D26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: backgroundAnimation 7s ease infinite;
}

#css_icon {
    font-size: 5rem;
    text-align: center;
    margin-left: 1.5rem;
}

#css_icon i {
    background-image: linear-gradient(#e2f2ff, #1A73BA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: backgroundAnimation 7s ease infinite;
}

#js_icon {
    font-size: 5rem;
    text-align: center;
}

#js_icon i {
    background-image: linear-gradient(#ffffe2, #F1C40F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: backgroundAnimation 7s ease infinite
}

.projetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4rem;
}

.subtitle {
    text-align: center;
}

#projetoATM {
    max-width: 15rem;
    padding: .5rem;
    align-self: baseline;
    border: solid var(--color001);
    border-radius: 7px;
    overflow: hidden;
    min-height: 24rem;
    max-height: 24rem;
}

.terminal-icon{
    text-align: center;
}

.terminal-icon i{
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem auto;
}

#projetoLoja {
    max-width: 15rem;
    padding: .5rem;
    margin-left: 2rem;
    border: solid var(--color001);
    border-radius: 7px;
    overflow: hidden;
    min-height: 24rem;
    max-height: 24rem;
}

#projetoATM:hover {
    box-shadow: 0 0 1.5rem .1rem white;
    transition: .3s;
    cursor: pointer;
}

#projetoLoja:hover {
    box-shadow: 0 0 1.5rem .1rem white;
    transition: .3s;
    cursor: pointer;
}

.subtitle {
    margin: 1rem;
}

.link {
    color: #fff
}

.link:hover {
    color: var(--color002);
    transition: .4s;
}

.socialMediaLink{
    display: flex;
    flex-wrap: wrap;
    max-width: 24rem;
    margin: .4rem auto;
    justify-content: space-between;
    align-items: baseline;
}

.socialMediaLink img {
    width: 1.8rem;
    text-align: center;
    margin: auto 1rem;
}

#socialMediaInformation {
    max-width: 12rem;
    text-align: center;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#image {
    text-align: center;
    margin-bottom: -.8rem;
}

#image img {
    width: 5rem;
    height: 5rem;
}

footer::before {
    content: "";
    display: block;
    width: 85%;
    height: 1px;
    margin: auto;
    background-color: #ffffff;
}

footer {
    padding: 10px;
    background-color: #272727;
    text-align: left;
    text-indent: 10%;
}

#footer-icons {
    font-size: 1.5rem;
}

#footerCopyright {
    text-align: left;
    text-transform: uppercase;
}

#footerText {
    text-align: left;
    font-weight: lighter;
    margin-left: 0;
    text-transform: uppercase;
}

.github-icon {
    display: inline-block;
}

.facebook-icon {
    display: inline-block
}

.instagram-icon {
    display: inline-block;
}

.github-icon i:hover {
    color: #113146;
    transition: .2s;
}

.facebook-icon i:hover {
    color: #166FE5;
    transition: .2s;
}

.instagram-icon i:hover {
    color: #BE4BDB;
    transition: .2s;
}

#footerAsideIcon {
    text-align: right;
    margin: -8rem 8rem auto auto;
}

@media screen and (max-width: 850px) {
    #menu {
        display: block;
    }

    #menuLateral {
        display: block;
    }

    #fecharMenu {
        display: block;
        right: .7rem;
        padding: 4px 10px;
    }

    header div {
        display: none;
    }

    header {
        background-color: #00000000;
        text-align: center;
    }

    .principal {
        margin-top: 140px;
        margin-bottom: -50px;
        text-align: center;
    }

    .principal a {
        margin: .5rem auto;
        text-align: center;
    }

    #imagemPrincipal img {
        display: none;
    }

    #textoPrincipal {
        text-align: center;
        background-color: #00000011;
        padding: 1rem;
        border-radius: .5rem;
        margin: auto;
    }

    .principalDescricao {
        font-size: 1.08rem;
    }

    #textoPrincipal h1 {
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
        line-height: 35px;
        text-align: center;
    }

    #sobre img {
        width: 7rem;
        margin: .2rem auto -.2rem auto;
        border: solid 1px var(--color001);
    }

    #sobreBox {
        width: 300px
    }

    #conhecimento-icons {
        display: block;
    }

    .projetos {
        display: block;
    }

    #projetoATM {
        text-align: center;
        margin: auto auto 1rem auto;
    }

    #projetoLoja {
        text-align: center;
        margin: auto;
    }
    footer{
        text-align: left;
        margin: auto;
    }
    #footer-icons{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
        margin: 1rem 25%;
    }
    #footerCopyright{
        text-align: center;
    }
    #footerText{
        text-align: center;
    }
    #footerAsideIcon{
        display: none;
    }
    #BottomNavigation{
        width: 100%;
        bottom: 0rem;
        padding: .8rem 0;
        border-radius: 1rem 1rem 0 0;
        background: #131212;
    }
    #BottomNavigation div img{
        width: 1.3rem;
        height: 1.3rem;
        margin: .4rem 1rem;
    }
    #BottomNavigation p{
        display: none;
    }
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 30%
    }

    100% {
        background-position: 0% 100%;
    }
}
